
nav{
	background-color: #e3e2e2;
	z-index: 1000;
	max-width: 1000px;
	width: 95%;
	margin: 20px auto;
}

nav ul {
	list-style:none;
}

nav > li {
	padding: 10px 12px;
	display: block;
}


nav li {
	display: inline-block;
	position: relative;
	margin-left: 70px;
}

nav li:hover{
	background: #ffc2b2;
}

nav ul li a{
	display: block;
	text-decoration: none;
}

nav li ul {
	display: none;
	position: absolute;
	min-width: 0px;

}

nav li:hover ul {
	display: block;
}

nav li ul li {
	position: relative;
}

.slide1 {
	background-image: url("../images/slider1.jpg");
	background-size: cover;
	height: 350px;
}

.marcoblanco {
	border: solid #fff 2px;
	height: 80px;
	width: 60%;
	margin-top: 90px;
	margin-left: 260px;
}
 
hr {
	border:0;
	border-top: 6px double #e3e2e2;
}

.fotoslide {
	width: 100%;
	height: 280px;
}

.marco-accesorio {
	border: 2px solid #e3e2e2;
	width: 100%;
	height: 300px;
	padding: 5px;
}
.fotoacc {
	width: 210px;
	height: 210px;
}

.back-marcas {
	background-image: url("../images/client-bg.jpg");
	background-size: cover;
	padding: 70px 40px;
}

.marcas {
	width: 100%;
	margin-left: 150px;
}


		/* EXTRAS */

.backgris-c {
	background-color: #e3e2e2;
}

.top20 {
	margin-top: 20px;
}