
nav{
	background-color: #e3e2e2;
	z-index: 1000;
	max-width: 1000px;
	width: 95%;
	margin: 20px auto;
}

nav ul {
	list-style:none;
}

nav > li {
	padding: 10px 12px;
	display: block;
}


nav li {
	display: inline-block;
	position: relative;
	margin-left: 70px;
}

nav li:hover{
	background: #ffc2b2;
}

nav ul li a{
	display: block;
	text-decoration: none;
}

nav li ul {
	display: none;
	position: absolute;
	min-width: 0px;

}

nav li:hover ul {
	display: block;
}

nav li ul li {
	position: relative;
}

.slide1 {
	background-image: url("../images/slider1.jpg");
	background-size: cover;
	height: 350px;
}

.marcoblanco {
	border: solid #fff 2px;
	height: 80px;
	width: 60%;
	margin-top: 90px;
	margin-left: 260px;
}


		/* EXTRAS */

.backgris-c {
	background-color: #e3e2e2;
}

.top20 {
	margin-top: 20px;
}